#style.css

html,
body{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    background-color: white;
}
.page-header{
    margin-top: 10%;
    padding-top: 65px;
    width: 98%;
    font-size: 1rem;
    color: black;
    align-items: center;
}
.page-footer{
    position: fixed;
    margin-bottom: 1%;
    bottom: 0%;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color: black;
    font-size: 0.75rem;
}